*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*inizio header*/
header{
    background-color: rgb(44,62,80);
    height: 100px;
}
.red{
    background-color: red;
    height: 100px;
}
/*fine header*/
/*inizio main*/
.jumbotron{
    background-color: rgb(26,188,156);
    height: 550px;
}
.first-col{
    background-color: blueviolet;
    height: 400px;
    margin: 30px;
}
.portfolio{
    background-color: white;
    height: 1500px;
}
.content{
    background-color: black;
    height: 100px;
}
.second-row{
    background-color: rgb(26,188,156);
    height: 300px;
}
.yellow{
    background-color: yellow;
    height: 80%;
}
.third-row{
   background-color: white; 
   height: 300px;
}
.green{
    background-color: green;
    height: 80%;
}
/*fine main*/
/*inizio footer*/
.darkslaghtergray{
    background-color: rgb(58,84,109);
    height: 300px;
}
/*fine footer*/